.num-records {
    font-size: 12pt;
    text-align: center;
    width: 100%;
}

.add-button {
    background: url('../assets/icons/add-circle.svg') no-repeat center;
    width: 22px;
    height: 22px;
    position: absolute;
}