<div class="modal modal-background fade" id="staticBackdrop" data-bs-backdrop="static" 
data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
[class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modalTitle | transloco}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label class="form-label">{{"apertura-caja.usuario" | transloco}}</label>
            <input type="text" class="form-control" formControlName="idUsuario" id="idUsuario">
            <div *ngIf="form.get('idUsuario')?.invalid"
            class="text-danger mt-1">
            {{"labels.required-field" | transloco}}
            </div>
         </div>
         <div class="mb-3">
            <label class="form-label">{{"apertura-caja.fecha-apertura" | transloco}}</label>
            <input type="datetime-local" class="form-control" formControlName="fechaApertura" id="fechaApertura">
            <div *ngIf="form.get('fechaApertura')?.invalid"
            class="text-danger mt-1">
            {{"labels.required-field" | transloco}}
            </div>
         </div>
         <div class="mb-3">
            <label class="form-label">{{"apertura-caja.monto-inicial" | transloco}}</label>
            <input type="text" class="form-control" formControlName="montoInicial" id="montoInicial">
            <div *ngIf="form.get('montoInicial')?.invalid"
            class="text-danger mt-1">
            {{"labels.required-field" | transloco}}
            </div>
         </div>
         <div class="mb-3">
            <label class="form-label">{{"apertura-caja.estatus" | transloco}}</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" 
              role="switch" id="estatus" formControlName="estatus">
              <label class="form-check-label" for="switchCheckDefault">Activo</label>
            </div>
          </div>
        
        

          <input type="hidden" formControlName="id" id="id">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveModal()">{{"buttons.save" | transloco}}</button>
      </div>
    </div>
  </div>
</div>
