<div class="modal modal-background fade" id="staticBackdrop" data-bs-backdrop="static" 
data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"
[class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modalTitle | transloco}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label class="form-label">{{"reportes-producto.name" | transloco}}</label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre">
            <div *ngIf="form.get('nombre')?.invalid"
            class="text-danger mt-1">
            {{"labels.required-field" | transloco}}
          </div>
        </div>
         <div class="mb-3">
            <label class="form-label">{{"reportes-producto.precio" | transloco}}</label>
            <input type="text" class="form-control" formControlName="precio" id="precio">
            <div *ngIf="form.get('precio')?.invalid"
            class="text-danger mt-1">
            {{"labels.required-field" | transloco}}
          </div>
          </div>
           <div class="mb-3">
            <label class="form-label">{{"reportes-producto.existencia" | transloco}}</label>
            <input type="text" class="form-control" formControlName="existencia" id="existencia">
            <div *ngIf="form.get('existencia')?.invalid"
            class="text-danger mt-1">
            {{"labels.required-field" | transloco}}
          </div>
          </div>
           <div class="mb-3">
            <label class="form-label">{{"reportes-producto.categoria" | transloco}}</label>
            <select class="form-select" aria-label="Default select example" formControlName="categoria" id="categoria">
              <option value="-1">---Seleccione---<option>
              <option *ngFor = "let v of categorias" value="{{v.id}}" 
              >{{v.nombre}}</option>
              
            </select>
          </div>
           <div class="mb-3">
            <label class="form-label">{{"reportes-producto.estado" | transloco}}</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" 
              role="switch" id="estado" formControlName="estado">
              <label class="form-check-label" for="switchCheckDefault">Activo</label>
            </div>
          </div>

          <input type="hidden" formControlName="id" id="id">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveModal()">{{"buttons.save" | transloco}}</button>
      </div>
    </div>
  </div>
</div>
