<div class="modal modal-background fade" id="staticBackdrop" data-bs-backdrop="static" 
data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" 
[class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modalTitle | transloco}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
        (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">

          <div class="mb-3">
            <label class="form-label">{{"ventas.fecha-hora" | transloco}}</label>
            <input type="datetime-local" class="form-control" formControlName="fechaHora" id="fechaHora">
            <div *ngIf="form.get('fechaHora')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">{{"ventas.usuario" | transloco}}</label>
            <input class="text" class="form-control"  formControlName="idUsuario" id="idUsuario">
            <div *ngIf="form.get('idUsuario')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">{{"ventas.forma-pago" | transloco}}</label>
            <input class="text" class="form-control"  formControlName="idFormaPago" id="idFormaPago">
            <div *ngIf="form.get('idFormaPago')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">{{"ventas.estatus" | transloco}}</label>
            <input type="text" class="form-control" formControlName="estatus" id="estatus">
            <div *ngIf="form.get('estatus')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <hr>

          <div class="mb-3">
            <label class="form-label">{{"ventas.producto" | transloco}}</label>
            <input class="text" class="form-control"  formControlName="idProducto" id="idProducto">
            <div *ngIf="form.get('idProducto')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">{{"ventas.cantidad" | transloco}}</label>
            <input type="number" class="form-control" formControlName="cantidad" id="cantidad">
            <div *ngIf="form.get('cantidad')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">{{"ventas.precio-unitario" | transloco}}</label>
            <input type="number" class="form-control" formControlName="precioUnitario" id="precioUnitario">
            <div *ngIf="form.get('precioUnitario')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">{{"ventas.subtotal" | transloco}}</label>
            <input type="number" class="form-control" formControlName="subtotal" id="subtotal">
            <div *ngIf="form.get('subtotal')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">{{"ventas.total" | transloco}}</label>
            <input type="number" class="form-control" formControlName="total" id="total">
            <div *ngIf="form.get('total')?.invalid" class="text-danger mt-1">
              {{"labels.required-field" | transloco}}
            </div>
          </div>

          <input type="hidden" formControlName="idVenta" id="idVenta">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveModal()">{{"buttons.save" | transloco}}</button>
      </div>
    </div>
  </div>
</div>